$size-xsmall:375px;
$size-small:425px;
$size-medium:768px;
$size-large:1024px;
:host {
    flex:1;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 50%;
    overflow: hidden;
    border-radius: 0.5em;
    padding: 2em;
    position: relative;
}

.slide{
    // position: absolute;
    // top: 120px;
    // left: 220px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.slide:hover{
    transform: scale(1.025);
}

// Next & Prev buttons

.control {
    border: none;
    background-color: transparent;
    outline: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: #3f51b5;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.control:hover, .control:focus {
    opacity: 1;
}
// Position of buttons
.control-next, .control-prev {
    position: absolute; 
    z-index: 10; 
}

.control-next {
    right: 94px; 
    top: 45%; 
    transform: translateY(-50%); 
    width: 35px;
    height: 30px;
    background-color: transparent;
}

.control-prev {
    left: 220px;  
    top: 45%; 
    transform: translateY(-50%);
    width: 35px;
    height: 30px;
    background-color: transparent;
}

// Style arrows
.arrow {
    display: block;
    border-left: 0.5em solid white;
    border-bottom: 0.5em solid white;
    width: 1em;
    height: 1em;
}

.left {
    transform: rotate(45deg);
}

.right {
    transform: rotate(225deg);
}

@media (min-width: $size-xsmall) {
    .carousel{
        max-width: 80%;
        padding: 1em;
    }
    
   .control-next {
        right: 15px; 
        top: 45%; 
        transform: translateY(-50%); 
        width: 20px;
        height: 20px;
        background-color: transparent;
    }
    
    .control-prev {
        left: 15px;  
        top: 45%; 
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: transparent;
    }
    .arrow {
        border-left: 0.25em solid white;
        border-bottom: 0.25em solid white;
        width: 0.5em;
        height: 0.5em;
    }
}

@media (min-width: $size-small) {
    
    .carousel{
        max-width: 80%;
    }    

    .control-next {
        right: 14px; 
        top: 45%; 
        transform: translateY(-50%); 
        width: 21px;
        height: 20px;
        background-color: transparent;
    }
    
    .control-prev {
        left: 14px;  
        top: 45%; 
        transform: translateY(-50%);
        width: 21px;
        height: 20px;
        background-color: transparent;
    }
    .arrow {
        border-left: 0.25em solid white;
        border-bottom: 0.25em solid white;
        width: 0.5em;
        height: 0.5em;
    }
    
}

@media (min-width: $size-medium) {
    
    .carousel{
        max-width: 80%;
    }

    .control-next {
        right: 15px; 
        top: 45%; 
        transform: translateY(-50%); 
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
    
    .control-prev {
        left: 16px;  
        top: 45%; 
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-color: transparent;
    }

    .arrow {
        border-left: 0.25em solid white;
        border-bottom: 0.25em solid white;
        width: 1em;
        height: 1em;
    }
}