body {
    background-color: white;
}
.main-page {
    background-color: white;
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction:column;
}
h1 {
    color: #3f51b5;
}  

.signup-login {
    flex: 1;
    color: white !important;
    padding: .75rem .25rem;
    margin: .5rem;
}