.movie-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
  }
  
    .movie-card-title {
      font-size: 18px;
      font-weight: bold;
      margin: 8px;
      color: orangered;
    }
  
    .movie-card-subtitle {
      font-size: 16px;
      margin: 8px;
      color: orangered;
    }
  
  
    .movie-card-image {
      width: 100%;
      height: auto;
    }
      
    .movie-card-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 8px;
      
      .button-info {
        color:black;
        padding: 2px;
        margin: 2px 0px;
      }
       
      mat-icon {
        color: orangered;
      }
    }
   