$breaking-point-Phone_S: 320px;
$breaking-point-Phone_M: 375px;
$breaking-point-Phone_L: 425px;
$breaking-point-Tablet: 768px;

.container{
    padding:1rem;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: orangered;
    align-items: center;
}
 h2, p, .content {
    color: orangered;
}
// .profile-data{

// }

.functions, .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Password, .Email, .Birthday {
    padding: 0px 6px;
}

.button-update, .button-delete {
    color: black !important;
    margin: 0px 50px;
}

// MEdia-queries
@media (min-width: $breaking-point-Phone_S) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-update, .button-delete {
        margin: 10px 50px;
    }
}
@media (min-width: $breaking-point-Phone_M) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-update, .button-delete {
        margin: 10px 50px;
    }
}
@media (min-width: $breaking-point-Phone_L) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-update, .button-delete {
        margin: 10px 50px;
    }
}
@media (min-width: $breaking-point-Tablet) {

}