<mat-card class="container">
    <mat-card-header>
        <mat-card-title class="title">Sign up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input 
                matInput
                [(ngModel)]="userData.Username"
                placeholder="Username"
                type="text"
                name="Username"
                required >
            </mat-form-field>

            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.Password"
                placeholder="Password"
                type="password"
                name="Password"
                required>
            </mat-form-field>
            
            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.Email"
                placeholder="Email"
                type="email"
                name="Email"
                required >
            </mat-form-field>
            
            <mat-form-field>
                <input
                matInput
                [(ngModel)]="userData.Birthdate"
                placeholder="Birthdate"
                type="date"
                name="Birthdate"
                required >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            class="button-signup"
            mat-raised-button
            (click)="registerUser()"
            color="primary">
             Sign Up</button>
    </mat-card-actions>
</mat-card>
