<mat-toolbar class="nav-bar"> 
    <a mat-button (click)="toMovies()" class="nav-button" target="_blank">Movies Couch</a>
    <span class="example-spacer"></span>
    
    <button mat-icon-button (click)="toProfile()" class="person-icon" aria-lable="Person icon-button">
        <mat-icon> account_box <span class="icon-reader"></span> </mat-icon>
    </button>
    
    <button mat-icon-button (click)="logOut()" class="logout-icon" aria-lable="Logout icon-button">
        <mat-icon><span class="icon-reader"> logout</span></mat-icon>
    </button>
</mat-toolbar>
